[run]
source = octopus_sensing
concurrency = multiprocessing,thread
patch = subprocess

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
show_missing = True
skip_empty = True
sort = Cover
