# .gitignore
__pycache__
venv
env
.pytest_cache
.coverage
.coverage.*
coverage.xml
dist/
build/
octopus_sensing.egg-info/
docs_build/
*.pyc
*.avi
*.edf
*.log
*.wav
*.csv
*.jpg
*.jpeg
*.mp4

# Mac OS files
.DS_Store
Thumbs.db
