[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "octopus-sensing"
version = "1.1.0"
description = "Library for recording data synchronously from different physiological sensors"
authors = ["Nastaran Saffaryazdi <https://nastaran-saffar.me>", "Aidin Gharibnavaz <https://aidinhut.com>"]
license = "GPL-3.0-or-later"
readme = "README.md"
homepage = "https://octopus-sensing.nastaran-saffar.me"
repository = "https://github.com/nastaran62/octopus-sensing"
keywords = ["sensors", "eeg", "gsr", "recorder"]

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
sounddevice = "^0.4.0"
scipy = "^1.5.2"
opencv-python = "^4.4.0"
# pyOpenBCI doesn't list its dependencies correctly.
# The followings are pyOpenBCI's dependencies.
pyOpenBCI = "^0.13"
pyserial = "^3.4"
requests = "^2.24.0"
xmltodict = "^0.12.0"
# bluepy is only available on linux
bluepy = { version = "^1.3.0", markers = "sys_platform == 'linux'" }
bitstring = "^3.1.7"
# End of pyOpenBCI dependencies.
msgpack = "^1.0.0"
pyaudio = "^0.2.11"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
mypy = "^0.782"
coverage = "^5.2.1"

[tool.autopep8]
max_line_length = 100
